<div class="content-container">
	<div class="product-container" id="product">
		<div class="container-fluid bg-2 text-center">
			<h3>Ka Kika's Special Coconut Jam</h3>
			<p>Made with fresh coconut extract and rich with natural flavors</p>
		</div>
	</div>
	<div class="contact-container" id="contact_us">
		<div class="container-fluid bg-1 text-center">
			<h3>ORDER NOW</h3>
			<h3>You can reach me via SMS/CALL : 09065783930</h3>
			<h4>Or you can just leave us a message</h4>
			<form class="form-horizontal" role="form" action="/send_feedback" method="post">
				<div class="form-group">
					<input type="text" class="form-control" id="contacts" placeholder="Enter Email or Phone Number" name="email_or_contact"  required title="Please input your Contact # or Email address">
					<textarea class="form-control vresize" id="contacts" placeholder="Enter Quantity of order or size" name="message_or_order"  required title="Please place valid Order (ex. 3 Large size Cocojam)"></textarea>
					<button type="submit" value="submit" class="btn btn-success">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>