<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kakika's Cocojam</title>
	<link href="css/main.css" rel="stylesheet">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script> -->

</head>
<body>
	<header>
		<ul class="nav-bar">
			<li><a href="#home">Home</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</header>

	<section>
		<div class="background-container">
		</div>
		<div class="intro-container">
			<span>Ka Kika's</span></br>
			<span>Special Coconut Jam</span>
		</div>
		<%= yield %>
		
	</section>

	<footer>
		
	</footer>
</body>
</html>