<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kakika's Cocojam</title>
	<link href="css/main.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="css/font-awesome.min.css" rel="stylesheet">
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>  -->

</head>
<body>
	<header>
		<ul class="nav-bar-header">
			<li><a href="#home">Home</a></li>
			<li><a href="#products">Products</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</header>
	<div class="background-container">
	</div>
	<div class="intro-container">
		<span>Ka Kika's</span></br>
		<span>Special Coconut Jam</span>
	</div>
	<section>
		
		<%= yield %>
		
	</section>

	<footer>
		<ul class="nav-bar-footer">
			<li><a href="https://www.facebook.com/gelibertej">follow the devs @fb/gelibertej</a></li>
		</ul>
	</footer>
</body>
</html>